header {
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 10px;
}
.navbar .input-group {
  --bs-border-radius: 0.6rem;
}
.navbar-nav {
  --bs-nav-link-font-size: 15px;
  --bs-nav-link-font-weight: 500;
  --bs-navbar-active-color: #ffd500;
}
.navbar-top {
  background-color: cadetblue;
  --bs-navbar-color: #fff;
  --bs-nav-link-font-size: 13px;
}
.circle-btn {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #dedede;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
